#root {
  color: crimson;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color:darkblue
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color:darkgreen;
  padding: 15px;
  font-size: 2em;

}

.navbar :visited{
  color:bisque
}


.navbar a{
  color: azure;
  text-decoration: none;
}

 